.masthead {
    height: 100vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgb(19, 14, 14);
}

.masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.masthead-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.btn-warning {
    background-color: #cec29d;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-warning:hover {
    background-color: #e0a800;
    color: #191717;
}