#menu-restaurante {
    display: none;
}

#menu-restaurante:target {
    display: block;
}

#almuerzo,
#cena,
#bebidas {
    display: none;
}

#almuerzo:target,
#cena:target,
#bebidas:target {
    display: block;
}

#menu-restaurante img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#almuerzo img,
#cena img,
#bebidas img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}


#menu-restaurante img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#almuerzo img:hover,
#cena img:hover,
#bebidas img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}